@model TechJobs6Persistent.ViewModels.AddJobViewModel;

<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    
    <div class="form-group">
        <label>Name</label>
        <input asp-for="JobName" class="form-control" />
        <span></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="EmployerId">Employer</label>
        @* <input type="hidden" value="@Model.Employers" name="EmployerId" /> *@
        <select asp-for="EmployerId" asp-items="Model.Employers" class="form-control"></select>
        <span asp-validation-for="EmployerId"></span>
        <p>Can't find your employer? Add Employer <a href="/Employer/Create">HERE</a><br />
    </div>
    <input type="submit" value="Add Job" />

</form>